body, html {
  height: 100%;
  margin: 0;
}


.img-fluid {

    margin: 0;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.btn {
	margin: 0;
    position: absolute;

	bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
	
}

.container-fluid {
  /* The image used */
  background-image: url("./image/sky1.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}